<ion-card>
    <ion-card-content>
        קטגוריות מועדפות
        <my-category [category]="item" *ngFor="let item of favorite.getCatArray()">
        </my-category>
        <br/> משפטים מועדפים
        <phrase [phrase]="item" *ngFor="let item of favorite.getPhrasesArray()">
        </phrase>
    </ion-card-content>
</ion-card>


<!-- TODO: ofek please consiter this design -->
<!-- <ion-content>
    <ion-item-group>
        <ion-item-divider color="red"> קטגוריות מועדפות </ion-item-divider>
        <ion-item>
            <my-category [category]="item" *ngFor="let item of favorite.getCatArray()">
            </my-category>
        </ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="blue"> משפטים מועדפים </ion-item-divider>
        <ion-item>
            <phrase [phrase]="item" *ngFor="let item of favorite.getPhrasesArray()">
            </phrase>
        </ion-item>
    </ion-item-group>
</ion-content> -->