<ion-item-group>
    <ion-item-divider color="primary"> קטגוריות מועדפות </ion-item-divider>
    <ion-item>
        <my-category [category]="item" *ngFor="let item of favorite.getCatArray()" (click)="openCategoryPhrases(item);">
        </my-category>
    </ion-item>
</ion-item-group>
<ion-item-group>
    <ion-item-divider color="primary"> משפטים מועדפים </ion-item-divider>
    <ion-item>
        <phrase [phrase]="item" *ngFor="let item of favorite.getPhrasesArray()">
        </phrase>
    </ion-item>
</ion-item-group>