<ion-card (click)='openPopup($event)'>
    <ion-card-content>
        <table>
            <tr>
                <th class="imag" *ngIf="phrase.imageURL != null || phrase.imageURL != undefine">
                    <img src={{phrase.imageURL}} />
                </th>
                <th class="title">
                    <ion-card-title text-wrap>
                        {{phrase.name}}
                    </ion-card-title>
                </th>
                <th class="buttonStar">
                    <button ion-button clear small color="star" (click)="updateIsFav($event)">
                        <ion-icon name="star" *ngIf="phrase.isFav"></ion-icon>
                        <ion-icon name="star-outline" *ngIf="!phrase.isFav"></ion-icon>
                    </button>
                </th>
            </tr>
        </table>
    </ion-card-content>
</ion-card>