page-home {
    button[ion-fab] {
        overflow: visible;
        position: relative;
        contain: layout;
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
    .ng-progress {
        margin-top: 250px;
    }
    ion-row {
        width: 100%;
        background: grey;
    }
    ion-col {
        width: 100%;
    }
    #left {
        float: left;
    }
}