// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: rtl;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, black: #000000, red: #FF0000, green: #008000, blue: #0000FF, yellow: #FFFF00, orange: #FFA500, white: #FFFFFF, star:#ffce00);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
//==============================
//=         Ofeki's SCSS       =
//==============================
// //the application font and the colors.
// $app-font:arial,
// sans-serif;
// $dark-color: #5c065c;
// $middle-color: #b88ab8;
// $light-color: #ffffff;
// //img of item that has been selected
// .item-img {
//     height: 200px;
//     width: 180px;
// }
// //================================
// //to locate two divs next to each other
// .wrapper {
//     display: flex;
//     justify-content: center;
// }
// .wrapped-item {
//     display: inline-block;
// }
// //================================
// //general design for items&categories on the main screen
// %item-on-screen {
//     padding: 5px;
//     margin: 2%;
//     height: 60px;
//     width: 100%;
//     border: solid black 1px;
//     border-radius: 5px;
//     font-size: 25px;
//     background: #3b679e;
//     /* Old browsers */
//     background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
//     /* FF3.6-15 */
//     background: -webkit-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
//     /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to bottom, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
//     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8', GradientType=0);
//     /* IE6-9 */
//     img {
//         width: 70px;
//         height: 50px;
//         float: left;
//     }
// }
// //item design
// my-item {
//     @extend %item-on-screen;
// }
// //category design
// my-category {
//     @extend %item-on-screen;
// }