page-intro-slider {
    ion-content {
        background-image: url("/assets/imgs/login-background2.jpg");
    }
    .text {
        text-align: center;
        font-family: Arial, Verdana, 'sans serif';
        font-weight: bold;
    }
    #img {
        width: 90%;
        border-radius: 50%;
    }
    button {
        width: 70%;
        margin-right: 50%;
        justify-content: center;
        margin-top: 10%;
    }
    ion-item {
        background-color: #fff0 !important;
    }
}