<ion-header>

    <ion-navbar>
        <ion-title>
            {{parentCategory.name}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="edit()">
                <ion-icon name="construct"></ion-icon>
            </button>
        </ion-buttons>
        <!-- add button in the end of the nav-bar -->
        <ion-buttons end>
            <button ion-button icon-only (click)="addButtonPressed()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding id="content">
    <ion-list no-lines>
        <!-- display the sub categories only if there is at least one sub category -->
        <ion-item padding *ngIf="hasSubCategories" color={{backgroundColor}}>
            <my-category (click)="openCategoryPhrases(item)" (press)="removeSubCategory(item)" 
            [category]="item" *ngFor="let item of this.subCategories">
            </my-category>
        </ion-item>

        <!-- the "press" event is just for debugging -->
        <ion-item padding color={{backgroundColor}}>
            <phrase [phrase]="item" *ngFor="let item of phrases" (press)="this.removePhrase(item)"></phrase>
            <!--onClick is in phrase.ts component, should work-->
        </ion-item>
    </ion-list>
</ion-content>