<ion-header>
    <ion-navbar>
        <ion-title>
            {{parentCategory.name}}
        </ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="edit()">
                {{editButtonName}} &nbsp;
                <ion-icon name="construct"></ion-icon>
            </button>
        </ion-buttons>
        <!-- add button in the end of the nav-bar -->
        <ion-buttons end>
            <button ion-button icon-only (click)="addButtonPressed()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content id="content">

    <!-- for normal mode -->
    <div *ngIf="!editFlag">
        <ion-list no-lines>
            <!-- display the sub categories only if there is at least one sub category -->
            <ion-item *ngIf="hasSubCategories" color={{backgroundColor}}>
                <my-category (click)="openCategoryPhrases(item)" (press)="removeSubCategory(item)" [category]="item" *ngFor="let item of this.subCategories">
                </my-category>
            </ion-item>

            <!-- the "press" event is just for debugging -->
            <ion-item color={{backgroundColor}}>
                <phrase [phrase]="item" *ngFor="let item of phrases" (press)="this.removePhrase(item)"></phrase>
            </ion-item>
        </ion-list>
    </div>

    <!-- for edit mode, enable reorder and swiping -->
    <div *ngIf="editFlag">
        <!-- sub categories -->
        <ion-list no-lines reorder="{{editFlag}}" (ionItemReorder)="reorderItem($event)">
            <ion-item-sliding *ngFor="let item of this.subCategories">
                <!-- display the sub categories only if there is at least one sub category -->
                <ion-item *ngIf="hasSubCategories" color={{backgroundColor}}>
                    <my-category (click)="openCategoryPhrases(item)" (press)="removeSubCategory(item)" [category]="item">
                    </my-category>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="editSubCategory(item)">
                        <ion-icon name="create"></ion-icon>
                        ערוך
                    </button>
                    <button ion-button (click)="changeSubVisibility(item)">
                        <ion-icon name="eye"></ion-icon>
                        הצג או הסתר
                    </button>
                </ion-item-options>
                <ion-item-options side="left">
                    <button ion-button expandable (click)="deleteSubCategory(item)">
                        <ion-icon name="trash"></ion-icon>
                        מחק
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

        <!-- phrases -->
        <ion-list no-lines reorder="{{editFlag}}" (ionItemReorder)="reorderItem($event)">
            <ion-item-sliding *ngFor="let item of phrases">
                <!-- the "press" event is just for debugging -->
                <ion-item color={{backgroundColor}}>
                    <phrase [phrase]="item" (press)="this.removePhrase(item)"></phrase>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="editPhrase(item)">
                        <ion-icon name="create"></ion-icon>
                        ערוך
                    </button>
                    <button ion-button (click)="changeVisibility(item)">
                        <ion-icon name="eye"></ion-icon>
                        הצג או הסתר
                    </button>
                </ion-item-options>
                <ion-item-options side="left">
                    <button ion-button expandable (click)="deletePhrase(item)">
                        <ion-icon name="trash"></ion-icon>
                        מחק
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

</ion-content>