<ion-card id="cat" color={{category.color.englishName}} (click)="catOnClick($event)">
    <ion-card-content>
        <table>
            <tr>
                <th class="imag" *ngIf="category.imageURL != null || category.imageURL != nudefine">
                    <img src={{category.imageURL}} />
                </th>
                <th class="title">
                    <ion-card-title text-wrap>
                        {{category.name}}
                    </ion-card-title>
                </th>
                <th class="buttonStar">
                    <button ion-button clear small color="star" (click)="updateIsFav($event)">
                        <ion-icon name="star" *ngIf="category.isFav"></ion-icon>
                        <ion-icon name="star-outline" *ngIf="!category.isFav"></ion-icon>
                    </button>
                </th>
            </tr>
        </table>
    </ion-card-content>
</ion-card>