page-numbers {
    input[type=number] {
        border: 2px solid black;
        border-radius: 4px;
        font-size: 50px;
        padding: 3px;
        width: 100%;
    }
    input[type=number]:focus {
        border: 3px solid red;
        border-radius: 4px;
    }
}