<!-- 
 <ion-header>

 <ion-navbar>
    <ion-title>על עצמי</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <page-phrases></page-phrases>
</ion-content> -->

<ion-header>
  <ion-navbar>
    <ion-title>Test Page</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <input type="text" [(ngModel)] ="text" />

  <button ion-button large (click)="start()" *ngIf="!record">
    start
  </button>
  <button ion-button large (click)="stop()" *ngIf="record">
    stop
  </button>

  <p *ngIf="stopRec">
    {{data}}

  </p>
  <button ion-button large (click)="play(data)">
    <ion-icon name="play"></ion-icon>
  </button>

  <p>
    {{playData.message}}
  </p>


  <button ion-button latge (click)="send()" >
    send http
  </button>

</ion-content>