<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isCategory && !isEditCategory && !isEditPhrase ">הוספת ביטוי</ion-title>
    <ion-title *ngIf="isCategory && !isEditCategory && !isEditPhrase ">הוספת קטגוריה</ion-title>
    <ion-title *ngIf="(isEditCategory || isEditPhrase )">עריכה</ion-title>

    <!-- add the back arrow to the navBar, the arrow dose not add adomaticly becaese it's a 'modal' -->
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="_myForm">
    <!-- deal with the image choosing procces -->
    <!-- connect the file choose to the html elemnt -->
    <div class="profile-image-wrapper" (click)="presentActionSheet()">
      <!-- display circle with '+' symbol for adding an image -->
      <div class="profile-image-placeholder" [hidden]="imageURL !== null">
        <ion-icon name="add"></ion-icon>
        <div>
          הוספת תמונה
        </div>
      </div>
      <!-- display the choosen image -->
      <img src={{imageURL}} style="width: 100%" [hidden]="imageURL === null">
    </div>
    <progress-bar *ngIf="storageProvider.showImageProgressBar()" [progress]="storageProvider.getImagePercentage()"> </progress-bar>

    <!-- deal with the user input fileds -->
    <ion-item>
      <ion-label *ngIf="!isCategory">ביטוי</ion-label>
      <ion-label *ngIf="isCategory">קטגוריה</ion-label>

      <ion-input #textInput (click)="getCaretPos($event)" (keyup)="getCaretPos($event)" formControlName="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>הצג מקלדת ניקוד</ion-label>
      <ion-checkbox checked="false" (click)="_needNikud = !_needNikud"></ion-checkbox>
    </ion-item>
    <!-- display the nikud buttons on demend -->
    <ion-grid *ngIf="_needNikud">
      <ion-row>
        <ion-col col-auto *ngFor="let nikud of getNikud">
          <button ion-button large (click)="addNikudToText(nikud.uniCode)">
            {{ nikud.uniCode }}
          </button>
          <ion-title> {{ nikud.hebrewName }} </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-item id="recordDiv" *ngIf="!isCategory">
      <ion-grid>
        <ion-row justify-content-center>
          <button ion-button color="red" round (click)="startRecord()" *ngIf="!recording">
            <ion-icon name="mic"></ion-icon>
            &nbsp; התחל הקלטה
          </button>
          <button ion-button round (click)="stopRecord()" *ngIf="recording">
            <ion-icon name="mic-off"></ion-icon>
            &nbsp; עצור הקלטה
          </button>
        </ion-row>
      </ion-grid>

      <ion-list>
        <ion-item *ngIf="audioFileURL != null && !recording">
          <p>{{fileName}}</p>
          <button ion-button clear item-end large (click)="playAudio(audioFileURL)" *ngIf="!playing">
            <ion-icon name="play"></ion-icon>
          </button>
          <button ion-button clear item-end large (click)="pauseAudio()" *ngIf="playing">
            <ion-icon name="pause"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      <progress-bar *ngIf="storageProvider.showAudioProgressBar()" [progress]="storageProvider.getAudioPercentage()"> </progress-bar>
    </ion-item>


    <div id="radioButtonForPhrase" *ngIf="!isCategory && !isEditPhrase">
      <ion-list radio-group [(ngModel)]="sentenceOrNoun" [ngModelOptions]="{standalone: true}" (ionChange)="checkSentenceOrNoun()">
        <ion-item>
          <ion-label>
            <ion-icon name="book"></ion-icon>
            &nbsp; משפט
          </ion-label>
          <ion-radio value="sentence" color="secondary" checked="true"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="rose"></ion-icon>
            &nbsp; שם עצם
          </ion-label>
          <ion-radio value="noun" color="green"></ion-radio>
        </ion-item>
      </ion-list>
    </div>

    <ion-row class="colorselect color_{{color.slice(1,7)}}" *ngIf="isCategory">
      <ion-item>
        <ion-label class="primarylabel">צבע</ion-label>
        <ion-select (click)="prepareColorSelector()" (ionChange)="setColor(this.color)" [ngModelOptions]="{standalone: true}" [(ngModel)]="color">
          <ion-option (ionSelect)="selectColor(optioncolor)" *ngFor="let optioncolor of colors" [value]="optioncolor">{{optioncolor}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <p></p>
    <p></p>
    
    <button ion-button large full type="submit" [disabled]="!_myForm.valid" (click)="onSubmit()">
      אישור
    </button>

  </form>
</ion-content>