page-add-phrase {
    .profile-image-wrapper {
        text-align: center;
        margin: 20px 0;
    
        .profile-image {
          width: 100%;
          height: 250px;
          // border-radius: 50%;
    
          display: inline-block;
    
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
    
        .profile-image-placeholder {
          display: inline-block;
    
          background-color: #eee;
          width: 96px;
          height: 96px;
          border-radius: 50%;
    
          font-size: 12px;
    
          ion-icon {
            font-size: 44px;
            margin-bottom: -10px;
            margin-top: 10px;
          }
        }
      }

      ion-buttons button[icon-only].my-style-for-modal {
        margin: 0 6px;
        min-width: 36px;
     }

  }

  // please do NOT toch this section
  .colorselect {
    .select-text {
            width: 75px;
            border-radius: 5px;
    }

    .alert-radio-inner,
    .alert-radio-icon,
    .alert-radio-label {
            display: none;
    }

    &.colorselected:before {
            content: '\2713';
            color: white;
            z-index: 999999;
            width: 100%;
            height: 100%;
            font-size: 33px;
            right: 40%;
            top: 50%;
            position: relative;
            transform: translate(-50%);
    }

    // should be the same as the color array in the ts file
    $colorsToSelect: "#ffffff" "#000000" "#ff0000" "#008000" "#0000ff" "#ffff00" "#ffa500" "#0080c0" "#ffff80"
    "#ff15ff" "#c993ff" "#005bb7" "#006200" "#5f00bd" "#ffbdbd" "#fc1b37" "#ff80c0" "#00ac2c"
    "#6ccfff" "#bf6000" "#04ffff" "#a4a4a4" "#bf00bf" "#d20069" "#ff8000" "#e30000";

    @each $colorOption in $colorsToSelect {
            $colorWithoutHash: str-slice($colorOption, 2, 7);

            &.color_#{$colorWithoutHash} {
                    &, & .select-text {
                            color: #{$colorOption};
                            background-color: #{$colorOption};
                    }
            }
    }
}